<hr>
<div class="row answer-tile">
  <div class="col-sm-1">
    {{quality-answer answer}}
    <h3 class="pull-right">{{answer.rating}}</h3>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-xs btn-success" {{action 'upvote' answer.id}}><span class="glyphicon glyphicon-arrow-up"></span></button>
    <button type="button" class="btn btn-xs btn-warning" {{action 'downvote' answer.id}}><span class="glyphicon glyphicon-arrow-down"></span></button>
  </div>
  <div class="col-sm-8">
    <h5>{{answer.author}}</h5>
    <p class="pull-left">{{answer.content}}</p>
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-sm btn-danger pull-right" {{action 'deleteAnswer' answer}}>x</button>
  </div>
</div>
