{{#if newAnswer}}
  <div class="new-answer">
    <form>
      <div class="form-group">
        <label for="answer-content">Your Answer:</label>
        {{input class="form-control" value=answer-content id="answer-content"}}
      </div>
      <div class="form-group">
        <label for="answer-author">Your name:</label>
        {{input class="form-control" value=answer-author id="answer-author"}}
      </div>

      <button type="button" class="btn btn-success" {{action 'newAnswerSubmit' answer}}>Answer this Question</button>
      <button type="button" class="btn btn-warning" {{action 'newAnswerHide'}}>Nevermind</button>
    </form>
  </div>
{{else}}
  <button type="button" class="btn btn-primary" {{action 'newAnswerShow'}}>Answer this Question</button>
{{/if}}
