<div class="body-col">
  <div class="row">
    <h1>{{model.content}}</h1>
    <h3>{{model.author}}</h3>
    <p><strong>{{model.date}}</strong></p>
    <p>{{model.notes}}</p>
    <hr>

  </div>
  <div class="row">
    {{edit-question question=model updateQuestion="updateQuestion"}}

    <button type="button" class="btn btn-danger" {{action 'deleteQuestion'}}>Delete</button>
  </div>
  <hr>
  {{new-answer question=model newAnswerSubmit="newAnswerSubmit"}}

  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer upvote="upvote" downvote="downvote"}}
  {{/each}}
</div>
